<div class="mt-4">
    <h2>SIGN UP</h2>
    <br>
    <div class="d-flex">
        <form method = "POST" action="" enctype="multipart/form-data" class="flex-fill me-4">  
        <p>Name</p>    
        <div class="form-floating mb-3">
        <input name ="name" type="text" class="form-control" placeholder="Name">
        <label for="floatingInput">Name</label>
        </div>
        <p>Email</p>    
        <div class="form-floating mb-3">
        <input name ="email" type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
        <label for="floatingInput">Email address</label>
        </div>
        <p>Password</p>   
        <div class="form-floating mb-3">
        <input name ="password" type="password" class="form-control" id="floatingPassword" placeholder="Password">
        <label for="floatingPassword">Password</label>
        </div>
        <p>Avatar</p>   
        <div class="form-group mt-1 d-inline-flex">
        <input name ="avatar" type="file" class="form-control-file">
        </div>
        <div class="form-group mt-3">
            <input type="checkbox" name="check" id="check"> OK
        </div>
        <br>
        <button type="submit" class="btn btn-primary">Sign up</button>
    </form>
    </div>
</div>